process.roles=broker,controller

node.id={{ node_id }}

controller.quorum.voters={% for host in groups['kafka_nodes'] %}{{ hostvars[host]['node_id'] }}@{{ hostvars[host]['kafka_private_ip'] }}:9093{% if not loop.last %},{% endif %}{% endfor %}

listeners=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093

advertised.listeners=PLAINTEXT://{{ kafka_private_ip }}:9092

controller.listener.names=CONTROLLER

inter.broker.listener.name=PLAINTEXT

log.dirs=/var/lib/kafka

num.partitions=3

default.replication.factor=2

min.insync.replicas=1
